.container {
  background: url('../../public/images/service-bg-2.jpg');
  padding-top: 135px;
  padding-bottom: 80px;
  background-position: center -45.4523px;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.8rem;
}

.icon {
  text-align: center;
}

.information h3 {
  color: var(--color-primary);
}

.information h4 {
  color: var(--color-white);
}

.btn {
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: var(--radius);
  font-size: 1.2rem;
  transition: var(--transition);
}

.firstBtn {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.firstBtn:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.secondBtn {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.secondBtn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.bottom {
  color: white;
  text-align: center;
  margin-top: 3rem;
}
.btn__container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 990px) {
  .top {
    flex-direction: column;
  }
}
