.container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background: url('../../../public/images/about-title-bg.jpg');
}

.container p {
  font-size: 1.2rem;
  font-weight: 700;
}
